/* ------- fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------ Body ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------- common styles or utilities ----------- */
body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* ----------- top players Banner Start ------------ */

.top-banner {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    border-radius: 10px;
    padding: 0 50px;
    justify-items: end;
    align-items: center;
}

.players h1 {
    font-size: 74px;
    font-weight: 700px;
    line-height: 1.2;
}

.players p {
    margin: 20px 0 30px;
}

.button,
.view-all-button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #DD0000;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #DD0000;
    transition: all .5s;
}

.button:hover {
    background-color: #fff;
    color: #DD0000;
}

.fa-angle-right {
    margin-left: 10px;
}

.banners-imge img {
    width: 500px;
}

/* -------------- Blog Live Match Start ------------ */

.blog-match {
    margin: 100px 0 50px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 20px;
}

.live-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background: #000000;
    height: 170px;
    text-align: center;
    padding: 0 20px;
}

.blog-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.live-info a {
    padding: 5px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
}

.blog {
    background-color: red !important;
    color: white !important;
}

.blog-inner {
    border-radius: 10px;
    box-shadow: 0 0 5px lightgrey;
}

.live-info img {
    width: 100%;
}

.time-comment span {
    margin-right: 40px;
}

.time-comment .fa-span {
    margin-right: 10px;
}

.blog-inner p a {
    margin: 10px 0;
    padding: 5px 15px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 5px;
}


.info h2 {
    margin-bottom: 11px;
    font-size: 19px;
}

.info {
    padding: 10px 20px 23px;
}

.view-all {
    text-align: center;
    margin-bottom: 50px;
    display: none;
}


/* --------------- Footer Start ------------- */
footer {
    background-color: black;
    width: 100%;
    padding: 70px 0;
}

footer h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;

}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.footers-item {
    text-align: center;
}

.footers-item a {
    display: inline-block;
    margin-top: 20px;
    color: white;
    margin-right: 30px;

}

.icon a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 16px;
    display: inline-block;
    align-items: center;
}

/* ------------------- Mobile Media Quary ----------------- */
@media only screen and (max-width: 688px) {
    .container {
        max-width: 330px;
    }

    .players {
        text-align: center;
        margin: 20px 0;
    }

    .top-banner {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        justify-items: center;
    }

    .players h1 {
        font-size: 25px;
    }

    .players p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;

    }

    .banners-imge img {
        width: 100%;

    }

    .blog-match {
        display: grid;
        grid-template-columns: 50%;
        margin: 0;

    }

    .live-info a {
        box-shadow: 0 0 5px grey;

    }

    .live-info {
        background: none;
        justify-content: space-around;
        border-radius: 10px;
        height: none !important;
        text-align: center;
        margin: 22px 0;
        padding: 0;
    }

    .blog-match {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        padding: 30px 0;
        margin-top: 20px;
    }

    footer h2 {
        margin-bottom: 30px;

    }

    .footers-item a {
        color: white;
        margin-right: 0;
        margin-top: 20px;
        display: block;
    }


}

/* --------------- Tablet Media Quary ------------------ */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .container {
        max-width: 700px;
    }

    .players h1 {
        font-size: 30px;
    }

    .players p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .banners-imge img {
        width: 300px;
    }

    .blog-right {
        grid-template-columns: repeat(2, 1fr);

    }

    .blog-match {

        grid-template-columns: auto;

    }

    .view-all {
        text-align: center;
        margin-bottom: 50px;
        display: block;
    }

    .live-info {
        background: none;
        flex-direction: row;
        height: unset !important;
        padding: 0;
    }

    .live-info a {
        box-shadow: 0 0 5px grey;
        width: 218px;
        margin-bottom: 20px;
    }


}

/* upcoming-match */

.upcoming-match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.upcoming-match img {
    width: 40% !important;
}

.info {
    box-shadow: 0 0 5px lightgrey;
    border-radius: 10px;
}

.blog-item {
    padding: 10px 20px 23px;
}

.match-title,
.match-time {
    text-align: center;
}